/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/css/filament
/public/js/filament
/public/fonts/filament
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
compose.yaml.bak.*
/database/*.sqlite*
